<!DOCTYPE html>
<html>

<head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>

<body>

  <h2 style="text-align: center;">SuperMarket Logger</h2>
  <div style="width:250px">
    <table style=" text-align: center">

      <tr>
        <div class="input-group">
          <td style="width:250px">Quiltex</td>
          <td><span class="input-group-btn">
              <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-chevron-right"></i></button>
            </span></td>
        </div>
        <!-- <td>Quiltex</td>

   <td><span class="glyphicon glyphicon-chevron-right"></span></td>  -->

      </tr>
      <tr>
        <div class="input-group">
          <td style="width:250px">Kleenox</td>
          <td><span class="input-group-btn">
              <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-chevron-right"></i></button>
            </span></td>
        </div>
      </tr>
      <tr>
        <div class="input-group">
          <td style="width:250px">InHouseBrand</td>
          <td><span class="input-group-btn">
              <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-chevron-right"></i></button>
            </span></td>
        </div>

      </tr>
      <tr>
        <div class="input-group">
          <td style="width:250px">AbSorbent</td>
          <td><span class="input-group-btn">
              <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-chevron-right"></i></button>
            </span></td>
        </div>

      </tr>
      <tr>
        <div class="input-group">
          <td style="width:250px">SoftLife</td>
          <td><span class="input-group-btn">
              <button class="btn btn-default btn-sm"><i class="glyphicon glyphicon-chevron-right"></i></button>
            </span></td>
        </div>

      </tr>

    </table>
  </div>
</body>

</html>

<router-outlet></router-outlet>